*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    /* border: 1px solid black; */
    height: 460px;
    width: 340px;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    padding: 7px;
}
.item:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.5s;
}
.item-image{
    width: 95%;
    height: 85%;
    object-fit: contain;
    /* object-fit: cover; */
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
    
}
.item h3{
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.price {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}
.new-price {
    color: #ff4141;
    font-weight: bold;
}

.old-price {
    color: #999;
    text-decoration: line-through;
}
