* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  margin: 20px;
}
.shopcategory-products {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
