* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero-section {
  height: 100vh;
  display: flex;
  flex: 1;
  justify-content: end;
  background-image: linear-gradient(white, pink);
  
}
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 2%;
  margin-right: 12%;
}
.Latest-info {
  height: 75px;
  width: 290px;
  border-radius: 38px;
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
}
.coll-info {
  font-size: 60px;
  font-weight: 600;
}
.hand {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.hand img{
    height: 0px;
}

.hero-right {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;

}
.hero-right img{
  height: 100%;
  padding-bottom: px;
}
