*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    border: 1px solid #ccc;
    height: 350px;
    width: 210px;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    padding: 7px;

}
.item:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.5s;
    cursor: pointer;

}
.item-image{
    width: 95%;
    height: 60%;
    object-fit: contain;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    
}
.item h3{
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

.price {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 26px;
}
.new-price {
    font-size: large;
    color: #ff4141;
    font-weight: bold;
}

.old-price {
    font-size: large;
    color: #999;
    text-decoration: line-through;
}
